#new-event {
    padding: 10%;
    margin: 5%;
    z-index: 3;
    float: right;
    top: -400px;
    display: inline;
    position: relative;
}

#addEvent {
    background-color: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: auto;
    border-radius: 8%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
}

button {
    color: antiquewhite;
    text-shadow: 2px 2px 4px black;
    border-radius: 5px;
    background-color: #3f3626;
}

.slide-item1 {
    background-image: url("../images/photo_1.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
}

.slide-item2 {
    background-image: url("../images/photo_2.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
}

.slide-item3 {
    background-image: url("../images/photo_3.jpg");
    background-position: center;
    background-size: cover;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
}

body {
    background-color: black;
    color: rgb(230, 225, 220);
    text-shadow: 2px 2px 4px black;
}